
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

html, body {
  

  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
.navigation  {
    background-color: black; 
    width: 100%;
    height: 9vw;
/*     border: 1px solid rgb(162, 30, 26);  */
    display: -webkit-flex; /* Safari */
    -webkit-align-items: left; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

footer {
    background-color: black; 
    width: 100%;
    height: 7vw;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.navigation div {
    
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}


/*li {
    display: inline;
}*/

/*.nav .menu_item > a {
    font-size: 1rem;
    color: #007cbb;
    display: block;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 0.75em 1em 0.65em 3em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 0.2s;
    vertical-align: baseline;
    zoom: 1;
    * display: inline;
    * vertical-align: auto;
}*/

/*ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1.7vw 4vw;
    text-decoration: none;
}

li a:hover {
    background-color: #1c1c1c;
    color: #fff;
}

.nav {
/*     display: block; */
/*	border: 2px solid rgb(144, 18, 192);
*//*     width: 20%; */
    
}

.logo {
	
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4vw;
	color: #666666;

}
.footer_link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 48px;*/
  color: #ffffff;
  font-style: bold; 
  margin-left: 1vw;
  margin-right: 1vw;
 /* display: inline-block;*/
  /*align-items: center; */
}
.menu_button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 48px;*/
  color: #ffffff;
  font-style: normal; 
/*  margin-left: 1em;
  margin-right: 1em;*/
 /* display: inline-block;*/
  /*align-items: center; */
}

div.center {

  display: inline-block;
  
  margin-left: auto;
  margin-right: auto;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background video {
  position: fixed;
  top: 4vw;
  left: 0;
  width: 70%;
  height: 70%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
