html, body {
  background: #ffffff;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
.navigation {
/*     background-color: #f7ffff; */
    width: 100%;
    height: 7em;
/*     border: 1px solid rgb(162, 30, 26);  */
    display: -webkit-flex; /* Safari */
    -webkit-align-items: left; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

.navigation div {
    
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}


/*li {
    display: inline;
}*/

/*.nav .menu_item > a {
    font-size: 1rem;
    color: #007cbb;
    display: block;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 0.75em 1em 0.65em 3em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 0.2s;
    vertical-align: baseline;
    zoom: 1;
    * display: inline;
    * vertical-align: auto;
}*/

/*ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(96, 127, 67, 0.98);
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 56px;
    text-decoration: none;
}

li a:hover {
    background-color: #2b5216;
    color: #e0ffbd;
}

.nav {
/*     display: block; */
	border: 2px solid rgb(144, 18, 192);
/*     width: 20%; */
    
}

.logo {
	
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: #666666;
}
