* {
  margin: 0;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px;
    color: #000; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

html, body {
  

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}
.navigation  {
    background-color: black; 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 9vw;
/*     top: 0; */
/*     border: 1px solid rgb(162, 30, 26);  */
    display: -webkit-flex; /* Safari */
    -webkit-align-items: left; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
.tutorials-container {
/*   background-color: blue; 
    width: 100%;
    height: auto; */
   display: grid;
  grid-template-columns: 30% 30% 33% ;
  grid-gap: 3vw;
  margin-left: 3vw;

  background-color: #000;
  color: #fff;
}
.tutorials-container-wrapper {
/*   background-color: blue; 
    width: 100%;
    height: auto; */
	height: auto;
  background-color: #000;
  color: #fff;
}

.tutorial-box {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  margin-top: 3vw;
/*   padding: 0vw; */
/*   font-size: 150%; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  line-height: 1.8;
  padding: 1rem;
}


.tutorial-box-hidden {
  background-color: #000;
  color: #000;
    margin-top: 3vw;
  border-radius: 0;
  padding: 0vw;
  font-size: 150%;
}

.bepro h2 { display: inline-block; font-size: 2rem; font-weight: 700; margin-top: 0; color: rgb(159, 0, 0); line-height: 1.2; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
.bepro h3 { display: inline-block; font-size: 2rem; font-weight: 700; margin-top: 0;  line-height: 1.2; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
.tutorial-box a { padding: 0.7vw ; width: 50%; display: block; color: #fff; text-decoration: none; background: rgba(38, 38, 38, 0.5); transition: .4s background; border-bottom: none; margin: 1rem auto; text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
.tutorial-box a:hover {
    background-color: #2e2e2e;
    color: #fff;    
}

.pre-footer-container {
/*   background-color: blue; 
    width: 100%;
    height: auto; */
	height: 6vw;
  background-color: #3b3b3b;
  color: #fff;
}

footer {
  /*position: relative;*/

    background-color: black; 
    width: 100%;
    height: 7vw;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.navigation div {
    
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}


/*li {
    display: inline;
}*/

/*.nav .menu_item > a {
    font-size: 1rem;
    color: #007cbb;
    display: block;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    padding: 0.75em 1em 0.65em 3em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 0.2s;
    vertical-align: baseline;
    zoom: 1;
    * display: inline;
    * vertical-align: auto;
}*/

/*ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1.7vw 4vw;
    text-decoration: none;
    transition: .6s background;
}

li a:hover {
    background-color: #202020;
    color: #fff;
    
}

.nav {
/*     display: block; */
/*	border: 2px solid rgb(144, 18, 192);
*//*     width: 20%; */
    
}

.logo {
	
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
/* 	line-height: 26.4vw; */
	color: #666666;

}
.footer_link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 48px;*/
  color: #ffffff;
  font-style: bold; 
  margin-left: 1vw;
  margin-right: 1vw;
	text-decoration: none;
    
 /* display: inline-block;*/
  /*align-items: center; */
}
.menu_button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 48px;*/
  color: #ffffff;
  font-style: normal; 
/*  margin-left: 1em;
  margin-right: 1em;*/
 /* display: inline-block;*/
  /*align-items: center; */
}

div.center {

  display: inline-block;
  
  margin-left: auto;
  margin-right: auto;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  justify-content: center;
}
.video-foreground,
.video-background video {
  position: relative;
/*   top: 4vw; */
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.video-foreground,
.video-background iframe {
  position: fixed;
/*   top: 4vw; */
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
height: 60%;
  top: 0;
  color: #ffffff;
    position: relative;
    overflow: auto; 
/*     position: absolute ; */
/*     bottom: 20vw; */
}
.vid-info { position: fixed; top: 9vw; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem;  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.8;}
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.homepage-header {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    min-height: auto;
    position: relative;
    text-align: center;
}

@media (min-width:38rem) {
    .homepage-header {
        height: 36em;
        text-align: left;
    }
}

.homepage-header .video-overlay {
    background: linear-gradient(rgba(255, 255, 255, 0) 73.53%, rgba(227, 227, 227, 0) 84.03%, rgba(83, 83, 83, 0.41) 90.76%, rgba(46, 46, 46, 0.79) 95.38%, black);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#d9000000', GradientType=1);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -97;
}

@media (min-width:38rem) {
    .homepage-header .video-overlay {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 44%, rgba(0, 0, 0, 0.7) 61%, rgba(0, 0, 0, 0.7) 62%, rgba(0, 0, 0, 0.85) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#d9000000', GradientType=1);
        min-height: 30rem;
        padding: 4em;
    }
}

.homepage-header .video-container {
    position: relative;
    width: auto;
    overflow: hidden;
}

@media (min-width:60rem) {
    .homepage-header {
        height: 75vh;
    }
}

@media (min-width:75rem) {
    .homepage-header {
        height: 80vh;
    }
}

.homepage-header__contents {
    width: 100%;
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width:38rem) {
    .homepage-header__contents {
        top: 50%;
    }
}
